<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tepian Teknologi</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <script defer src="assets/js/honeycomb-background.js"></script>
</head>
<body>
    <div class="background">
        <div id="gradient"></div>
        <div id="pattern"></div>
    </div>
    <main>
        <section>
           <nav>
                <div class="logo w-20 h-20 ml-10">
                    <a href="#">
                        <img src="assets/images/tepian-teknologi-logo.jpg" alt="">
                    </a>
                </div>
                <div class="nav-links text-white">
                    <ul class="flex">
                        <li><a href="" class="hover:text-blue-500">Home</a></li>
                        <li><a href="" class="hover:text-blue-500">About</a></li>
                        <li>
                            <div class="relative">
                                <button class="hover:text-blue-500">Dropdown</button>
                                <div class="dropdown-content absolute hidden bg-white shadow-lg rounded-md mt-2">
                                    <ul>
                                        <li><a href="">Our Products</a></li>
                                        <li><a href="">W-Fi Install</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="" class="hover:text-blue-500">Contact</a></li>
                    </ul>
                </div>
           </nav>
        </section>
    </main>
</body>
</html> -->