<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - Tepian Teknologi</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="shortcut icon"
      href="assets/icons/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body class="about-page">
    <header>
      <div class="navigation">
        <div class="information">
          <div class="info-content">
            <p>
              Call Us <a href="https://wa.me/6285171639082">0541 7802095</a> |
              <a href="https://wa.me/6285171639082">+62-851-7163-9082</a>
            </p>
            <p>|</p>
            <p>
              Email <a href="mailto:iconplus@gmail.com">iconplus@gmail.com</a>
            </p>
          </div>
          <a href="#" class="login-signup">Login/Sign Up</a>
        </div>
        <nav>
          <div class="logo">
            <img src="assets/logo/TepianTeknologi-Logo.png" alt="Logo" />
          </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="search">
            <input type="text" placeholder="Search Product" />
            <button type="submit">
              <img src="assets/icons/search.png" alt="Search" />
            </button>
          </div>
          <div class="user-actions">
            <a href="#"
              ><img
                src="assets/icons/shopping-bag.png"
                alt="Bag"
                class="icon bag-icon"
            /></a>
            <a href="#"
              ><img
                src="assets/icons/shopping-cart.png"
                alt="Cart"
                class="icon cart-icon"
            /></a>
            <a href="#"
              ><img
                src="assets/icons/Avatar-Logo.png"
                alt="User"
                class="icon avatar-icon"
            /></a>
          </div>
        </nav>
      </div>
    </header>

    <main class="about-main">
      <section class="about-content">
        <div class="about-title-wrapper">
          <h1 class="about-title">Abo<span class="highlight">ut Us</span></h1>
        </div>
        <hr class="line-separator"/>

        <div class="about-section">
          <h3>Tentang Kami</h3>
          <p class="visi-misi-paragraph">
            Tepian Teknologi adalah website yang menjual peralatan jaringan,
            komputer dan peralatan teknologi lainnya. Kami juga bekerjasama
            dengan beberapa brand jaringan ternama seperti tplink, mikrotik,
            satelindo, dll yang menandakan keaslian setiap barang yang
            tersimpan. Untuk saat ini toko ini juga menyediakan pesanan
            terlengkap dan terpercaya untuk area kota dan luar negeri dengan
            pelayanan terintegrasi dan transparan. Toko ini berlokasi di
            Samarinda, Kalimantan Timur, Indonesia.
          </p>
        </div>

        <hr class="line-separator"/>

        <div class="about-section">
          <h3>Visi & Misi</h3>
          <p class="visi-misi-paragraph">
            <strong>Visi </strong>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <p class="visi-misi-paragraph">
            <strong>Misi </strong>Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>

        <hr class="line-separator"/>

        <div class="about-section">
          <h3>Keunggulan</h3>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </li>
            <li>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </li>
            <li>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident.
            </li>
          </ol>
        </div>

        <hr class="line-separator"/>

        <div class="about-cta">
          <p>
            Hubungkan dengan <strong class="admin-link">Admin</strong> untuk
            Produk yang Anda Cari atau Login untuk Melihat!
          </p>
          <div class="about-buttons">
            <button class="btn-outline">SignUp/Login</button>
            <button>
              <img src="assets/logo/WhatsApp-White-Logo.png" />Hubungkan
              Sekarang
            </button>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p>© 2025 Tepian Teknologi</p>
    </footer>
  </body>
</html>
