<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tepian Teknologi - Market</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="assets/icons/favicon.png" type="image/x-icon">
</head>
<body>
  <div class="navigation">
    <div class="information">
      <div class="info-content">
        <p>Call Us <a href="https://wa.me/6285171639082">0541 7802095</a> | <a href="https://wa.me/6285171639082">+62-851-7163-9082</a></p>
        <p>|</p>
        <p>Email <a href="mailto:iconplus@gmail.com">iconplus@gmail.com</a></p>
      </div>
      <a href="#" class="login-signup">Login/Sign Up</a>
    </div>
    <nav>
      <div class="logo">
        <img src="assets/logo/TepianTeknologi-Logo.png" alt="Logo">
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="search">
        <input type="text" placeholder="Search Product">
        <button type="submit"><img src="assets/icons/search.png" alt="Search"></button>
      </div>
      <div class="user-actions">
        <a href="#"><img src="assets/icons/shopping-bag.png" alt="Bag" class="icon bag-icon"></a>
        <a href="#"><img src="assets/icons/shopping-cart.png" alt="Cart" class="icon cart-icon"></a>
        <a href="#"><img src="assets/icons/Avatar-Logo.png" alt="User" class="icon avatar-icon"></a>
      </div>
    </nav>
  </div>

  <!-- Header Section -->
  <header>
    <div class="header-content">
      <div class="main-header">
        <div class="carousel-container">
          <div class="carousel-images">
            <img src="assets/images/Header-Main.png" alt="Main Header 1">
            <img src="assets/images/Header-Main-2.png" alt="Main Header 2">
          </div>
          <div class="carousel-dots">
          </div>
        </div>
      </div>
      <div class="side-header-top">
        <img src="assets/images/Header-Blue.png" alt="Side Header Top">
      </div>
      <div class="side-header-bottom">
        <img src="assets/images/Header-Red.png" alt="Side Header Bottom">
      </div>
    </div>
  </header>

  <main>
    <!-- Bagian Terlaris -->
    <section class="terlaris">
      <h1>Produk Terlaris</h1>
      <hr>
      <button>Lihat Selengkapnya   ></button>
      <div class="terlaris-olt"><button>
        <img src="assets/icons/product.png" alt="">
        <div class="terlaris-content">
          <h1>Terlaris di OLT</h1>
          <p>Nama Product</p>
          <div class="price">
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
            <a href="">Lihat</a>
          </div>
        </div>
      </button>
      </div>
      <div class="terlaris-ont"><button>
        <img src="assets/icons/product.png" alt="">
        <div class="terlaris-content">
          <h1>Terlaris di ONT</h1>
          <p>Nama Product</p>
          <div class="price">
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
            <a href="">Lihat</a>
          </div>
        </div>
      </button>
      </div>
      <div class="terlaris-products">
        <div class="terlaris-1">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terlaris-2">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terlaris-3">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terlaris-4">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terlaris-5">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terlaris-6">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product</h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
      </div>
    </section>

    <!-- Bagian Diskon -->
     <section class="diskon">
      <div class="diskon-top-row">
        <div class="diskon-header">
          <h1>Spesial!</h1>
          <h2>DISKON</h2>
          <hr>
        </div>
        <button>Lihat Selengkapnya   ></button>
      </div>
      <div class="diskon-banner">
        <img src="assets/images/Discount-Poster.png" alt="Banner Diskon">
      </div>
      <div class="diskon-products">
        <div class="diskon-1">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="diskon-2">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="diskon-3">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="diskon-4">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="diskon-5">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="diskon-6">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <div class="diskon-tag">
              <h2>30%</h2>
            </div>
            <h1>Nama Product</h1>
            <p class="diskon-price">Rp. 234.567</p>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
      </div>
     </section>

     <!-- Bagian Baru -->
     <section class="terbaru">
      <h1>Produk Terbaru</h1>
      <hr>
      <button>Lihat Selengkapnya   ></button>
      <div class="terbaru-olt"><button>
        <img src="assets/icons/product.png" alt="">
        <div class="terbaru-content">
          <h1>Terbaru di OLT</h1>
          <p>Nama Product</p>
          <div class="price">
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
            <a href="">Lihat</a>
          </div>
        </div>
      </button>
      </div>
      <div class="terbaru-ont"><button>
        <img src="assets/icons/product.png" alt="">
        <div class="terbaru-content">
          <h1>Terbaru di ONT</h1>
          <p>Nama Product</p>
          <div class="price">
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
            <a href="">Lihat</a>
          </div>
        </div>
      </button>
      </div>
      <div class="terbaru-products">
        <div class="terbaru-1">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terbaru-2">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terbaru-3">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terbaru-4">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terbaru-5">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
        <div class="terbaru-6">
          <a href="">
            <img src="assets/icons/product.png" alt="">
            <h1>Nama Product <div class="terbaru-tag">NEW</div></h1>
            <p>Rp. 123.456 <span><img src="assets/icons/shopping-cart.png" class="price-cart"></span></p>
          </a>
        </div>
      </div>
    </section>

    <!-- Bagian Break -->
     <div class="break-contact">
      <h1>Hubungkan Dengan <span>Admin</span> Untuk Produk Yang Anda Cari!</h1>
      <button><img src="assets/logo/WhatsApp-White-Logo.png">Hubungkan Sekarang</button>
     </div>

    <!-- Bagian Sponsor -->
    <section class="sponsor">
      <div class="sponsor-container">
        <div class="sponsor-row">
          <div class="sponsor-item">
            <img src="assets/sponsors/ruijie.webp" alt="Ruijie">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/ruijie-reyee.webp" alt="Ruijie Reyee">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/tp-link.webp" alt="TP-Link">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/starlink.webp" alt="Starlink">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/mikrotik.webp" alt="Mikrotik">
          </div>
        </div>
        <div class="sponsor-row">
          <div class="sponsor-item">
            <img src="assets/sponsors/lintasmaya.webp" alt="Lintasmaya">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/hikvision.webp" alt="Hikvision">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/citraweb.webp" alt="Citraweb">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/cdata.webp" alt="CData">
          </div>
          <div class="sponsor-item">
            <img src="assets/sponsors/ubiquiti.webp" alt="Ubiquiti">
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <div class="content-about">
        <h1>Tepian Teknologi</h1>
        <hr>
        <p>Adalah website yang menjual peralatan jaringan, komputer dan peralatan teknologi lainnya. Kami juga bekerjasama dengan beberapa brand ternama seperti ruijie, mikrotik, starlink dll, yang merupakan teknologi yang sangat membantu untuk era saat ini. kami juga menyediakan peralatan terlengkap dan terjangkau, serta memberikan yang terbaik dari segi pelayanan maupun garansi. Tepian Teknologi berlokasi di Samarinda, Kalimantan Timur, Indonesia.</p>
      </div>
      <div class="content-quick-links">
        <h1>Quick</h1>
        <hr>
        <ul>
          <li><a href="#">Kontak</a></li>
          <li><a href="#">Lokasi</a></li>
          <li><a href="#">Produk</a></li>
          <li><a href="#">Sign in/Login</a></li>
          <li><a href="#">Back to Top</a></li>
        </ul>
      </div>
      <div class="content-group">
        <h1>Group</h1>
        <hr>
        <ul>
          <li><a href="#">Lintasmaya</a></li>
          <li><a href="#">Tepian Teknologi</a></li>
          <li><a href="#">Backlash Coffee</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 Tepian Teknologi</p>
    </div>
  </footer>

  <script src="js/carousel.js"></script>
  <script src="js/sponsor-carousel.js"></script>
</body>
</html>